<head>
  <style>
    h1{
      color:#E91E63;
      background-color:#039BE5;
      font-size:50px;
      }
    </style>
  <link href="favicon.ico" rel="icon" type="image/icon" />
    <Center>
        <h1>Baseball</font>
    </Center>
</head>
<br>
<center>
    <h3>First played in the 18th Century.</>
</center>
<title>Baseball</title>
</head>

<body>
    <font size="4" color="black">
        <br>
        <br>
        <br>
        <p>
            The game of baseball is played with a bat, glove, and a ball. The objective of the game is to score the most runs. To score
            runs, the offensive team has to hit the ball that was thrown by the pitcher, and either get on base safely, or
            run all the way around the bases. In the end, the team who scores the most runs is the winner. My personal favorite
            baseball leaugue to watch would be College Baseball. Many diffrent teams win it all. Thats why I like to watch
            it. Here are some of the teams that have won the Colloge World Series the most.
        </p>

        <hr>
        <ol>
            <li>Southern California (USC) 12</li>
            <li>LSU 6</li>
            <li>Texas 6</li>
            <li>Arizona State 5</li>
            <li>Miami 4</li>
            <li>Arizona 4</li>
            <li>Cal State Fullerton 4</li>
            <li>Minnesota 3</li>
            <li>South Carolina 2</li>
            <li>Oregon State 2</li>
        </ol>
        <font size="4" color "black">
            <br>If you want to look at list yourself, click
            <a href="https://tinyurl.com/ybreu7h9" target="_blank">here</a>
            <br>
            <br>
            <img src="https://tinyurl.com/y95cqsle">
            <br>
            <br>
            <a href="https://tinyurl.com/y8tmgaty" target="_blank">
                <button type="button">Pictures Of Baseballs</button>
            </a>
      </font>
</body>
